.container {
  min-height: 100vh !important;
}

.form-control {
  border-radius: 0;
}

.content-auth > .row > .bkg {
  background-color: steelblue;
}

.content-auth > .row {
  min-height: 100vh;
  height: auto;
}

.side-form {
  max-width: 400px;
  min-width: 400px;
  margin: auto;
}

.side-form > .alert-danger {
  border-radius: 0px;
  margin: 24px auto;
}

.content-questionset {
  max-width: 824px;
  margin: auto;
}

.icon-danger {
  color: red !important;
}
