@import url("variables.css");

.container {
  min-height: 100vh !important;
}

* {
  font-family: 'Comfortaa', cursive;
}

main {
  position: relative;
  top: 77px;
  padding-top: 24px;
  padding-bottom: 24px;
}

a {
  color: var(--theme-success);
}

.bkg-primary-light {
  background-color: #fdfaff;
}

.content-auth > .row > .brand > img {
  margin: 128px auto;
  display: block;
  min-width: 400px;
}

.content-auth > .row {
  margin-top: -25px;
  min-height: 100vh;
  height: auto;
}

.side-form {
  max-width: 400px;
  min-width: 400px;
  margin: auto;
}

.side-form > .alert-danger {
  border-radius: 6px;
  margin: 24px auto;
}

.content-questionset {
  max-width: 824px;
  margin: auto;
}

.icon-danger {
  color: red !important;
}

.icon-correct {
  color: rgb(40, 163, 40);
}

.col-form-label {
  color: var(--theme-dark-primary) !important;
}


/* The following stylings are for the navBar.html file */

.main-menubox {
  display: none;
}

.main-menu:hover .main-menubox{
  display: block;
}

.navbar {
  background-color: var(--theme-primary);
  color: white;
  font-weight: 500;
}

.nav-link {
  color: white;
  font-weight: bolder;
}

.navbar-brand > img {
  max-width: 48px;
  max-height: 48px;
}

li.nav-item{
  padding: 10px 20px;
}
