@import url("variables.css");

.container {
  min-height: 100vh !important;
}

* {
  font-family: 'Comfortaa', cursive;
}

main {
  position: relative;
  top: 77px;
  padding-top: 24px;
  padding-bottom: 24px;
}

a {
  color: var(--theme-success);
}

strong {
  font-weight: bolder;
}

.bkg-primary-light {
  background-color: #fdfaff;
}

.content-auth > .row > .brand > img {
  margin: 128px auto;
  display: block;
  min-width: 400px;
}

.content-auth > .row {
  margin-top: -25px;
  min-height: 100vh;
  height: auto;
}

.side-form {
  max-width: 400px;
  min-width: 400px;
  margin: auto;
}

.side-form > .alert-danger {
  border-radius: 6px;
  margin: 24px auto;
}

.content-questionset {
  max-width: 824px;
  margin: auto;
}

.icon-danger, .color-danger {
  color: var(--theme-warning);
}

.icon-correct, .color-correct {
  color: rgb(40, 163, 40);
}

.icon-primary, .color-primary {
  color: var(--theme-primary);
}

.icon-success, .color-success{
  color: var(--theme-success);
}

.icon-lg {
  font-size: 68px;
}

.icon-md {
  font-size: 38px;
}

.col-form-label {
  color: var(--theme-dark-primary) !important;
}

/* The following stylings are for the navBar.html file */

.main-menubox {
  display: none;
}

.main-menu:hover .main-menubox{
  display: block;
}

.navbar {
  background-color: var(--theme-primary);
  color: white;
  font-weight: 500;
}

.nav-link {
  color: white;
  font-weight: bolder;
}

.navbar-brand > img {
  max-width: 48px;
  max-height: 48px;
}

li.nav-item{
  padding: 10px 20px;
}

.form-check-input {
  cursor: pointer;
}

.filter-col {
  max-width: fit-content;
  min-width: 130px;
  margin: auto;
}

.grid-body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

p.grid-font {
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  color: var(--theme-primary);
}

.grid-body > a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.cursor-pointer {
  cursor: pointer;
}