@import url("variables.css");

.container {
  min-height: 100vh !important;
}

* {
  font-family: 'Comfortaa', cursive;
}

.bkg-primary-light {
  background-color: #fdfaff;
}

.content-auth > .row > .bkg {
  background-color: var(--theme-primary);
}

.content-auth > .row {
  min-height: 100vh;
  height: auto;
}

.side-form {
  max-width: 400px;
  min-width: 400px;
  margin: auto;
}

.side-form > .alert-danger {
  border-radius: 6px;
  margin: 24px auto;
}

.content-questionset {
  max-width: 824px;
  margin: auto;
}

.icon-danger {
  color: red !important;
}

.icon-correct {
  color: rgb(40, 163, 40);
}

.col-form-label {
  color: var(--theme-dark-primary) !important;
}

