/* Theme colours variables */
:root {
  --theme-primary: #591DA9;
  --theme-success: #3DDEFF;
  --theme-warning: #DC2F3D;
  --theme-white: #FFFFFF;
  --theme-dark-success: #051960;
  --theme-dark-primary: #381472;
}