{% extends 'base.html' %}

{% block head %}

<style>
    .quiz_section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .quiz_list {
        padding-left: 2%;
        padding-right: 2%;
    }

    ul {
        list-style-type: square;
    }
</style>

{% endblock %}

{% block main %}

{% include 'navBar.html' %}

<div class="quiz_section">
    <div>
        <h3>Public Quizzes</h3>
        {% if pqs %}
        <ul class="quiz_list">
            {% for i in pqs %}
            <li value="{{i.name}}"> <a
                    href="{{ url_for('@all_question_sets_available.quiz_to_complete', set_id=i.id) }}">{{i.name}}</a>
            </li>
            <br>
            {% endfor %}
        </ul>
        {% endif %}
        {% if not pqs %}
        <p>There are currently no quizzes available in the public repository - please visit at a later date!</p>
        <br>
        {% endif %}
    </div>

    <div>
        <h3>Private Quizzes</h3>
        {% if uqs %}
        <ul class="quiz_list">
            {% for i in uqs %}
            <li value="{{i.name}}"> <a
                    href="{{ url_for('@all_question_sets_available.quiz_to_complete', set_id=i.id) }}">{{i.name}}</a>
            </li>
            <br>
            {% endfor %}
        </ul>
        {% endif %}
        {% if not uqs %}
        <p>There are currently no quizzes available in your private repository.<br>If you would like to create a private quiz,
            please follow <a href="{{url_for('create_question_set.question_set')}}">this link</a>.</p>
        <br>
        {% endif %}
    </div>
</div>

{% endblock %}