<nav class="navbar navbar-expand-lg sticky-bottom" id="footer-nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="footer-navbar-responsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://www.linkedin.com/in/gerardo-cisneros-mendoza" target="_blank">
            <div>Gerardo Cisneros Mendoza</div>
            <div>21993026</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <div>Cameron Cresswell</div>
            <div>21499134</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>